.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 20px;
}

header {
  padding-bottom: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-size: 13px;
  text-align: end;
  margin-top: 20px;
}

table {
  min-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px auto;
}

.container {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  border-style: groove;
  border-color: ghostwhite;
  margin-top: 50px;
  padding: 25px;
}

.main {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.appTitle {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 20px;
  margin-bottom: 0 !important;
  width: 100%;
  font-weight: bold;
}

.searchGroup {
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

.card-header,
.card-body {
  padding: 5px !important;
  margin: auto;
}

.card-header {
  text-align: center;
  border-bottom: 0px !important;
}

.card.container {
  padding: unset;
  margin: unset;
}

.appTitle.card-title {
  font-size: small;
  margin-top: unset !important;
  text-align: right;
}

.introText {
  text-align: left;
  padding: 15px;
}

.col {
  margin: auto;
}

.currentCity {
  align-self: center;
  font-family: "Pacifico", cursive;
  font-size: xx-large;
  text-align: right;
  text-transform: capitalize;
}

.currentWeather {
  color: rgba(253, 29, 29, 1);
  font-size: 250px;
  margin: 15px;
  padding: 10px;
  text-align: center;
  transform: rotate(20deg);
}

.currentWeatherWrapper {
  margin: auto !important;
  text-align: center;
  padding-left: 15px;
}

.date {
  text-align: end;
  margin-right: 15px;
}

.forecast {
  padding-left: unset !important;
  text-align: right;
}

.min {
  color: lightskyblue;
}

.max {
  color: red;
}

.note {
  font-size: small;
  text-align: end;
}

.weatherInfo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.weatherSymbol {
  text-align: center;
  font-size: 30px;
}

#sunrise,
#sunset {
  font-weight: 600;
}

#unitButton {
  border-width: 0px;
  border-color: unset;
  background-color: unset;
  font-size: smaller;
  padding: unset;
}

.forecastTemp {
  min-width: fit-content;
}

.form-control {
  width: unset !important;
}

.sunEventsWrapper {
  margin: auto;
}

.sunEvents {
  width: 100%;
  text-align: center;
}

#weatherConditionsWrapper {
  display: inline-flex;
  flex-wrap: wrap;
}

.weatherConditions {
  margin: 5px;
  padding: 10px;
}

#currentTemps {
  text-align: left;
}

.card-body {
  padding: 5px !important;
  text-align: center;
}

.align-right {
  text-align: right;
}

.tempButton {
  border: 2px dashed lightgray;
  font-family: "Roboto Mono", monospace;
  font-size: small;
  padding: 10px;
}
